/**
 * Author: Rishit Patel 
 * Date: Nov 27, 2019
 * Description: Hi-Low Game 
 */

* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  background-color: orangered;
  color: white;
}

.mainContent {
  position: relative;
}

.vCenter {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.theIcon {
  font-size: 121px;
}

.numInput {
  text-align: center;
  font-size: 31px;
  width: 61px;
  height: 61px;
  border-style: solid;
  border-width: 5px;
  border-color: white;
  color: white;
  background-color: transparent;
}

.guessButton {
  background-color: white;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 3px;
}